.DS_Store
PPT/
miniOS/
osfs.iso/
*.meta

# Project1-Elevator
Project1-Elevator/Architecture Illustration.pptx
Project1-Elevator/ProjectCommit/
Project1-Elevator/Elevator\ Scheduling/
!Project1-Elevator/Elevator\ Scheduling/Assets/Prefabs/
!Project1-Elevator/Elevator\ Scheduling/Assets/Resources/
!Project1-Elevator/Elevator\ Scheduling/Assets/scripts/


# Project2-PageSwapManagement
Project2-PageSwapManagement/Architecture Illustration.pptx
Project2-PageSwapManagement/ProjectCommit/
Project2-PageSwapManagement/PageSwapManagement/
!Project2-PageSwapManagement/PageSwapManagement/Assets/Prefabs/
!Project2-PageSwapManagement/PageSwapManagement/Assets/Resources/
!Project2-PageSwapManagement/PageSwapManagement/Assets/scripts/


# Project3-FileManagement
Project3-FileManagement/Architecture Illustration.pptx
Project3-FileManagement/ProjectCommit/
Project3-FileManagement/FileManagement/
!Project3-FileManagement/FileManagement/Assets/Prefabs/
!Project3-FileManagement/FileManagement/Assets/Resources/
!Project3-FileManagement/FileManagement/Assets/scripts/
