.DS_Store
PPT/
miniOS/
osfs.iso/
*.meta

Project1-Elevator/Architecture Illustration.pptx
Project1-Elevator/ProjectCommit/
Project1-Elevator/Elevator\ Scheduling/
!Project1-Elevator/Elevator\ Scheduling/Assets/Prefabs
!Project1-Elevator/Elevator\ Scheduling/Assets/scripts
!Project1-Elevator/Elevator\ Scheduling/Assets/Resources

Project2-PageSwapManagement/Architecture Illustration.pptx
Project2-PageSwapManagement/PageSwapManagement/.vscode
Project2-PageSwapManagement/PageSwapManagement/Assets/Scenes/
Project2-PageSwapManagement/PageSwapManagement/Assets/TextMesh\ Pro/
Project2-PageSwapManagement/PageSwapManagement/Library/
Project2-PageSwapManagement/PageSwapManagement/Logs/
Project2-PageSwapManagement/PageSwapManagement/obj/
Project2-PageSwapManagement/PageSwapManagement/Packages/
Project2-PageSwapManagement/PageSwapManagement/ProjectSettings/
Project2-PageSwapManagement/PageSwapManagement/UserSettings/
Project2-PageSwapManagement/PageSwapManagement/Assembly-CSharp.csproj
Project2-PageSwapManagement/PageSwapManagement/PageSwapManagement.sln

Project3-FileManagement/FileManagement/
!Project3-FileManagement/FileManagement/Assets/Prefabs
!Project3-FileManagement/FileManagement/Assets/scripts
!Project3-FileManagement/FileManagement/Assets/Resources
